<a href="<%= url_for(dog) %>">
  <article>
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo", alt: "Photo of #{dog.name}" %>
    <span><%= dog.likes_count %></span>
  </article>
</a>

<% if (defined? dog_counter) && (dog_counter + 1) % 2 == 0 %>
  <%= image_tag 'ad.jpg' %>
<% end %>