<!DOCTYPE html>
<html>
  <head>
    <title>DogProfile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="layout">
      <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" >
        <div class="container-fluid">
          <%= link_to 'Dog Profile Demo', root_path, class: "navbar-brand" %>
          <% if current_user %>
            <%= link_to 'Add your dog', new_dog_path , class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-sm btn-outline-secondary" %>
          <% end %>
        </div>
      </nav>

      <div id="main">
        <div class="notifications">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <%= yield %>
      </div>
      <div class="footer"></div>
    </div>

  </body>
</html>
